@use "../theme.scss";

.input_box_component_wrapper{
    max-height: 2rem;
    width: 100%;
    flex: 1;
    margin-bottom: 0.2rem;
    padding: 6px 8px;
    font-size: 0.85rem;
    background-color: theme.$color-input-bg;
    border: 1px solid theme.$color-input-border;
    border-radius: 4px;
    color: theme.$color-text;
    &:focus {
    outline: none;
    border-color: theme.$color-primary;
  }
}


.route-search-input {
    max-height: 2rem;
    width: 100%;
    flex: 1;
    margin-bottom: 0.2rem;
    padding: 6px 8px;
    font-size: 0.85rem;
    background-color: theme.$color-input-bg;
    border: 1px solid theme.$color-input-border;
    border-radius: 4px;
    color: theme.$color-text;
    &:focus {
    outline: none;
    border-color: theme.$color-primary;
    }
}